<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
	         point="org.eclipse.debug.core.launchConfigurationTypes">
	      <launchConfigurationType
	            delegate="it.polimi.dice.tracechecking.launcher.TraceCheckingLaunchConfigurationDelegate"
	            id="it.polimi.dice.tracechecking.launchConfigurationType1"
	            modes="run"
	            name="DICE Trace-Checking">
	      </launchConfigurationType>
	   </extension>
</plugin>
